body {
background-color: #D8D8D8;
}

.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
}

.infoheader {
    font-weight: bold; 
}

.infostyle {
    font-size: 1.5em;
}

.detailsstyle {
    font-size: 0.8em;
}

#background {
    background-color: #FFFFFF;  
    border-radius: 15px;
    box-shadow: 3px 3px 10px #606060;
    padding: 10px 10px 10px 10px;
}

#logo {
    float: left;
}

#tabs {
    float: left;
    width: 60%;
}


#information {
    float: right;
    width: 85%;
    height: 20px;
    overflow: hidden;
    padding: 5px;
    //background-color: #FF7101;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-family: Helvetica,Verdana,Arial;
    font-size: 1.4em;
    border: 1px solid #000000;
    background: #000000 url(custom-theme/images/ui-bg_gloss-wave_100_000000_500x100.png) 50% 50% repeat-x;
    color: #ffffff;
}

#informationholder {
    float: right;
    width: 85%;
    height: 130px;
    overflow: hidden;
    padding: 5px;
    background-color: #B3E2FC;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid #000000;
}

#informationcontent {
    float: left;
    width: 50%;
    font-family: Helvetica,Verdana,Arial;
    font-size: 1.2em;    
}

#detailscontent {
    float: right;
    width: 50%;
    font-family: Helvetica,Verdana,Arial;
    font-size: 1.2em;
}

#content  {
    width: 100%;
    overflow: hidden;
    padding: 5px;
}

#speedgraph, #breakgraph, #accelgraph, #throttlegraph, #steergraph {
    padding: 10px;
}

#map {

	width: 98%;
	height: 98%;
    padding: 5px;
    border-radius: 8px;
}

#mapcontainer {
    float: left;
    width: 39%;
    height: 650px;
    padding: 5px;
    background-color: #B3E2FC;
    border-radius: 8px;
    border: 1px solid #000000;
}
#footer {
	clear: both;
}

#header {
	clear: both;
}
body {
	font: 62.5% "Trebuchet MS", sans-serif;
	margin: 10px;
}

.demoHeaders {
	margin-top: 2em;
}

#dialog_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}

#dialog_link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}

ul#icons {
	margin: 0;
	padding: 0;
}

ul#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}

ul#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}